<div class="profiles">
  <% current_profile.friends.each do |friend| %>
    <%= render friend %>
  <% end %>

  <% current_profile.requested_friends.each do |friend| %>
    <%= render friend %>
  <% end %>

  <% @profiles.each do |profile| %>
    <%= render profile %>
  <% end %>
</div>
