<div class="ui center aligned basic segment">
  <p>What best describes your family?</p>

  <%= link_to "We're new to this country", new_profile_registration_path(native: false), class: "big ui teal button" %>
  <div class="ui horizontal divider">
    Or
  </div>
  <%= link_to "We've lived here for a long time", new_profile_registration_path(native: true), class: "big ui teal button" %>
</div>

<!--
<div class="container u-center">
  <div class="pre">
    <div class="pre__alt">
      <p>We are a family who are new to Sweden</p>
      <div class="pre__button">
        <%= link_to "We're new", new_profile_registration_path(native: false), class: "button button--alt" %>
      </div>
    </div>
    <div class="pre__alt">
      <p>We are a family who have lived here for a long time</p>
      <div class="pre__button">
        <%= link_to "We're from here", new_profile_registration_path(native: true), class: "button button--alt" %>
      </div>
    </div>
  </div>
</div>
