<h2><%= @profile.name %></h2>
<img src = <%= @profile.picture %> >
<div class="friendship">
  <% friend_status = current_profile.friend_status(@profile) %>
  <% if (friend_status == :accepted) %>
    You are friends
  <% elsif (friend_status == :awaiting_your_reply) %>
    Accept friend request
  <% elsif friend_status == :pending %>
    Your friend request is pending
  <% else %>
    <%= link_to "Add Friend", friendships_path(:requestee_id => @profile), :method => :post %>
  <% end %>
</div>
<%= debug @profile.attributes %>
