.flash {
  position: absolute;
  background: #fff;
  top: 1.5rem;
  padding: 1rem;
  // margin-top: 1rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
  text-align: center;
  border: 1px solid $color-offwhite;
}

.flash--notice {
}

.flash--alert {
}
