.profiles {
}

.profiles__profile {
  @include clearfix;
  color: $color-offblack;
  padding: 1rem;
  border-bottom: 1px solid $color-offwhite;
}

.profiles__profile__picture {
  float: left;
  width: 25%;
  border-radius: 4px;
}

.profiles__profile__content {
  width: 75%;
  padding-left: 1rem;
  float: left;
}

.profiles__profile__content__name {
  font-size: 1.25rem;
}

.pre {
  padding-top: 60px;
}

.pre__alt {
  margin-top: 2.5rem;
}

.pre__button {
  padding: 10px;
}
