.welcome {
  color: #fff;
  min-height: 100%;
  background: $color-primary;
}

.welcome__heading {
  background-image: url("fam.png");
  background-size: cover;
  background-position: 50% 50%;
  height: 15rem;
  position: relative;
}

.welcome__heading__header {
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  text-align: center;
}

.welcome__heading__header__h1 {
  font-size: 48px;
  font-weight: 100;
  margin: 0;
  line-height: 3.2rem;
}

.welcome__content {
  p {
    margin-bottom: 40px;
  }
}

.welcome__content__button {
  width: 160px;
  padding: 5px 0;
  margin: 0 auto;
}
